
  {{!-- {{#each this}} --}}
  <section class="event">
    
    <div class="partial-event-name">
      {{Events.event_name}}
    </div>

     <div class="partial-date">
      {{Events.date}}
    </div>

    <div class="partial-description">
      {{Events.description}}
    </div>

    <div class="partial-planner-name">
      {{Events.planner_name}}
       {{!-- on {{format_date created_at}} --}}
    </div>

    <div class="partial-planner-contact">
      {{Events.planner_contact}}
    </div>
    
  </section>
  {{!-- {{/each}} --}}