<div class="events">
  {{#each this}}
  <section class="event">
    
    <div class="partial-event-name">
      {{event.event_name}}
    </div>

     <div class="partial-date">
      {{event.date}}
    </div>

    <div class="partial-description">
      {{event.description}}
    </div>

    <div class="partial-planner-name">
      {{event.planner_name}}
       {{!-- on {{format_date created_at}} --}}
    </div>

    <div class="partial-planner-contact">
      {{event.planner_contact}}
    </div>
    
  </section>
  {{/each}}
</div>