<section class="section">
  <div class="title is-2">
    <h2>Create New Event</h2>
  </div>
  <form class="event-post-form">
    <div>
      <label class="label is-size-5" for="event-title">Title</label>
      <input class="input text is-normal is-info" type="text" required id="event-title"
        placeholder="Please enter the event title" name="event-title" />
    </div>
    <div>
      <label class="label is-size-5" for="event-date">Date</label>
      <input class="input text is-normal is-info" type="date" required id="event-date" name="event-date" />
    </div>
    <div>
      <label class="label is-size-5" for="event-description">Description</label>
      <input class="input text is-normal is-info" id="event-description" placeholder="Please enter the description"
        name="event-description" />
    </div>
    <div>
      <label class="label is-size-5" for="planner-name">Name of This Event's Planner</label>
      <input class="input text is-normal is-info" id="planner-name" name="planner-name" />
    </div>
    <div>
      <label class="label is-size-5" for="planner-contact">Planner's email</label>
      <input class="input text is-normal is-info" id="planner-contact" name="planner-contact" />
    </div>
    <div class="pt-2">
      <button class="button is-info has-text-white" type="submit">Create</button>
    </div>
  </form>
</section>

{{!-- Posts all the events by the user --}}
<h2>Your Events!</h2>
<section>


{{!-- 
  <div id="div">

  </div> --}}


  <ul>
   {{#each Events}}
    <li>
      <section class="event">

        <div class="partial-event-name">
          {{event_name}}
        </div>

        <div class="partial-date">
          {{date}}
        </div>

        <div class="partial-description">
          {{description}}
        </div>

        <div class="partial-planner-name">
          {{planner_name}}
          {{!-- on {{format_date created_at}} --}}
        </div>

        <div class="partial-planner-contact">
          {{planner_contact}}
        </div>

        <a href="/dashboard/edit/{{id}}" class="edit-link">Edit event</a>
      </section>
    </li>
    {{/each}}
  </ul>
</section>

<script src="/javascript/add-event.js"></script>
{{!-- <script src="/javascript/view-events.js"></script> --}}