<section class="section">
  <div class="title is-size-2 is-underlined">
    <h2 class="has-text-weight-bold">Create New Event</h2>
  </div>
  <form class="event-post-form">
    <div>
      <label class="label is-size-5" for="event-title">Title</label>
      <input class="input text is-normal is-info" type="text" required id="event-title"
        placeholder="Please enter the event title" name="event-title" />
    </div>
    <div>
      <label class="label is-size-5" for="event-date">Date</label>
      <input class="input text is-normal is-info" type="date" required id="event-date" name="event-date" />
    </div>
    <div>
      <label class="label is-size-5" for="event-description">Description</label>
      <input class="input text is-normal is-info" id="event-description" placeholder="Please enter the description"
        name="event-description" />
    </div>
    <div>
      <label class="label is-size-5" for="planner-name">Name of This Event's Planner</label>
      <input class="input text is-normal is-info" id="planner-name" name="planner-name" />
    </div>
    <div>
      <label class="label is-size-5" for="planner-contact">Planner's email</label>
      <input class="input text is-normal is-info" id="planner-contact" name="planner-contact" />
    </div>
    <div class="pt-2">
      <button class="button is-info has-text-white" type="submit">Create</button>
    </div>
  </form>
</section>

{{!-- Posts all the events by the user --}}
<div class="title is-size-3 pl-5 is-underlined">
  <h2 class="has-text-weight-semibold">Your Events!</h2>
</div>
<section>


{{!-- 
  <div id="div">

  </div> --}}


  <ul class="message is-info">
   {{#each Events}}
    <li>
      <section class="event">

        <div class="message-header title is-capitalized is-underlined is-size-3 pl-6 partial-event-name">
          {{event_name}}
        </div>

        <div class="content pl-6 is-size-6 partial-date">
          <label class="has-text-weight-bold" for="date">Date: </label>
          {{date}}
        </div>

        <div class="content pl-6 is-size-6 partial-description">
          <label class="has-text-weight-bold" for="description">Description: </label>
          {{description}}
        </div>

        <div class="content pl-6 is-size-6 partial-planner-name">
          <label class="has-text-weight-bold" for="planner-name">Planner's Name: </label>
          {{planner_name}}
          {{!-- on {{format_date created_at}} --}}
        </div>

        <div class="content pl-6 is-size-6 partial-planner-contact">
          <label class="has-text-weight-bold" for="planner-email">Planner's Email: </label>
          {{planner_contact}}
        </div>
        <div class="pl-6 pb-4">
          <a href="/dashboard/edit/{{id}}" class="button edit-link">Edit event</a>
        </div>
      </section>
    </li>
    {{/each}}
  </ul>
</section>

<script src="/javascript/add-event.js"></script>
{{!-- <script src="/javascript/view-events.js"></script> --}}