<article>
<div class="pb-3">
  <a class="pl-3"href="/dashboard"> &larr; Back to dashboard</a>
</div>
  <div class="message is-info">
  <h2 class="title is-size-3 is-underlined pl-5 pt-2">
    Edit Event
  </h2>
  <form class="edit-event-form">
    <div class="container">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="pb-2">
            <label class="is-size-5 has-text-weight-semibold" for="title">Title</label>
            <input class="input is-info is-focused" name="event-title" type="text" value="{{Events.event_name}}" />
          </div>
          <div class="pb-2">
            <label class="is-size-5 has-text-weight-semibold" for="date">Date</label>
            <input class="input is-info is-focused" name="event-date" type="text" value="{{Events.date}}" />
          </div>
          <div class="pb-2">
            <label class="is-size-5 has-text-weight-semibold" for="description">Description</label>
            <input class="input is-info is-focused" name="event-description" type="text" value="{{Events.description}}" />
          </div>
          <div class="pb-2">
            <label class="is-size-5 has-text-weight-semibold" for="planner-name">Planner's Name</label>
            <input class="input is-info is-focused" name="planner-name" type="text" value="{{Events.planner_name}}" />
          </div>
          <div class="pb-2">
            <label class="is-size-5 has-text-weight-semibold" for="planner-contact">Planner's Contact</label>
            <input class="input is-info is-focused" name="planner-contact" type="text" value="{{Events.planner_contact}}" />
          </div>
        </div>  
      </div>
    </div>
    {{!-- adding a guest --}}
    <form class="event-guest-form">

      <div class="container">
        <div class="columns">
          <div class="column is-two-fifths">
            <div class="pb-2">
              <label class="is-size-5 has-text-weight-semibold" "guest-name">Add your Guest's Name!</label>
              <input class="input is-info is-focused" id="guest-name" name="guest-name" />
            </div>
            <div class="pb-2">
              <label class="is-size-5 has-text-weight-semibold" "guest-email">Add a Contact Email</label>
              <input class="input is-info is-focused" id="guest-email" name="guest-email" />
            </div>
            <div class="pb-2">
              <label for="attending">Is this guest attending?</label>
              <input type="radio" id="attending-Choice1" name="attending" value="yes">
              <label for="attending-Choice1">Yes</label>

              <input type="radio" id="attending-Choice2" name="attending" value="no">
              <label for="attending-Choice2">No</label>
            </div>
            <div class="pb-2">
              <button type="submit" class="add-guest-btn">Add Guest</button>
            </div>
          </div>  
      </div>
    </div>
    </form>
    {{!-- end of adding guest --}}
    <div class="p-3 pl-6">
      <button class="save-event-button" type="submit">Save Event</button>
      <button type="button" class="delete-event-btn">Delete Event</button>
    </div>
  </form>
  </div>
</article>

<script src="/javascript/edit-event.js"></script>
<script src="/javascript/add-guest.js"></script>